<h2><%= celebrity.name %></h2>

<p class="detail">
  <span class="label">Occupation:</span>
  <span class="value"><%= celebrity.occupation %></span>
</p>
<p class="detail">
  <span class="label">Catch Phrase</span>
  <span class="value highlighted"><%= celebrity.catchPhrase %></span>
</p>

<a href="/celebrities">Back to Celebrity Inventory</a>

